/* HomePage.css */

.homepage-container {
  font-family: 'Noto Sans TC', sans-serif;
  background-color:rgb(171, 213, 255);
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 1000px;
  height: 1200px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.homepage-container .header{
  background-color: rgb(171, 213, 255);
  color: white;
  padding: 20px 0;
  margin-bottom: 30px;
  display: flex;
  font-size: 50px;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.header-inner{
  max-width: 100%;
  height: 110px;
  display: flex;
  
}

.site-menu ul {
  display: flex;
  text-decoration: none;
}

.header p{
  font-size: 50px;
}

.homepage-container .module-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  border-radius: 35px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.15);
  
}

.homepage-container .module {
  padding: 20px;
  width: 30%;
  background-color: rgb(243, 247, 246);
  border-radius: 35px;
  
}

.homepage-container .personal-info, 
.homepage-container .course-search, 
.homepage-container .course-schedule {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-style:solid ;
  border-color: rgb(171, 213, 255);
  height: 700px;
}

.homepage-container .personal-info{
  width: 280px;
  border-left-width: 12px;
  border-top-width: 12px;
  border-right-width: 12px;
  border-bottom-width: 12px;
}

.homepage-container .course-search{
  width: 600px;
  border-top-width: 12px;
  border-bottom-width: 12px;
}

.homepage-container .course-schedule{
  width: 400px;
  border-top-width: 12px;
  border-right-width: 12px;
  border-bottom-width: 12px;
  border-left-width: 12px;
}



.homepage-container h2 {
  color: #3496ff;
  margin-bottom: 15px;
  text-align: left;
}

.homepage-container .search-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.homepage-container .search-button {
  padding: 8px 15px;
  background-color: #3496ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.homepage-container .search-button:hover {
  background-color: #2979cc;
}

.homepage-container .selected-courses {
  list-style-type: none;
  padding: 0;
}

.homepage-container .selected-courses li {
  background-color: #f9f9f9;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.homepage-container .edit-schedule {
  padding: 8px 15px;
  margin-top: 15px;
  background-color: #3496ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.homepage-container .edit-schedule:hover {
  background-color: #2979cc;
}
